In [1]:
import pandas as pd

df = pd.read_csv("reviews.csv")
df.head()

,지점명,닉네임,작성리뷰수,작성시간,방문일,방문횟수,인증수단,좋아요수,리뷰내용
0,신촌2호점,ok_****,466,25.11.27.목,점심에 방문,1번째 방문,영수증,0,멀리서 온 친구랑 술한잔 하고싶어서 방문했는데\n음식맛은 기본 한다는 더본 홍콩반점...
1,신촌2호점,rmdlll,31,25.12.2.화,저녁에 방문,1번째 방문,영수증,0,"저렴한 맛에 가는 곳 •••\n특별히 너무 맛있지는 않지만, 어떤 메뉴를 시켜도 맛..."
2,신촌2호점,재재슈슈,3,25.11.27.목,저녁에 방문,3번째 방문,영수증,0,신촌에서 친구랑 가볍게 한잔 하고싶어서 갈곳을 찾다가 딱걸린 홍콩반점.깐풍새우 소스...
3,신촌2호점,엉클뤼치,8,25.11.28.금,점심에 방문,4번째 방문,영수증,0,볶음밥 짱 맛있어요. 강추합니다\n직원분들도 친절하고 매장도 깨끗.\n재방문 예정 ...
4,신촌2호점,엉클뤼치,8,25.10.1.수,저녁에 방문,3번째 방문,영수증,0,정말 맛있게 잘 먹었습니다. 식당가격들이 다 올라서 힘든데 홍콩반점은 착한가격에 양...

In [2]:
df_review = df[["리뷰내용"]]
df_review.head()

                                                리뷰내용
0  멀리서 온 친구랑 술한잔 하고싶어서 방문했는데\n음식맛은 기본 한다는 더본 홍콩반점...
1  저렴한 맛에 가는 곳 •••\n특별히 너무 맛있지는 않지만, 어떤 메뉴를 시켜도 맛...
2  신촌에서 친구랑 가볍게 한잔 하고싶어서 갈곳을 찾다가 딱걸린 홍콩반점.깐풍새우 소스...
3  볶음밥 짱 맛있어요. 강추합니다\n직원분들도 친절하고 매장도 깨끗.\n재방문 예정 ...
4  정말 맛있게 잘 먹었습니다. 식당가격들이 다 올라서 힘든데 홍콩반점은 착한가격에 양...

In [4]:
df_review.to_csv("review_only.csv", index=False)