In [1]:
import sqlite3

In [2]:
import os

if os.path.exists("tut.db"):
    os.remove("tut.db")
    print("removed")

removed

In [3]:
conn = sqlite3.connect("tut.db")
# conn.row_factory = sqlite3.Row
cur = conn.cursor()

In [4]:
cur.execute("""
create table if not exists Customers (
    CustomerID integer primary key autoincrement,
    CustomerName text not null,
    ContactName text,
    Address text,
    City text,
    PostalCode text,
    Country text
);
""")

In [5]:
cur.executemany("""
insert into Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
values (?, ?, ?, ?, ?, ?);
""", [
    ("Alfreds Futterkiste", "Maria Anders", "Obere Str. 57", "Berlin", "12209", "Germany"),
    ("Ana Trujillo Emparedados y helados", "Ana Trujillo", "Avda. de la Constitución 2222", "México D.F.", "05021", "Mexico"),
    ("Antonio Mereno Taquería", "Antonio Moreno", "Mataderos 2312", "México D.F.", "05023", "Mexico"),
    ("Around the Horn", "Thomas Hardy", "120 Hanover Sq.", "London", "WA1 1DP", "UK"),
    ("Berglunds snabbköp", "Christina Berglund", "Berguvsvägen 8", "Luleå", "S-958 22", "Sweden")
])

In [6]:
conn.commit()

In [7]:
cur.execute("SELECT * FROM Customers;")

rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')

In [8]:
cur.execute("SELECT CustomerName, City FROM Customers;")

rows = cur.fetchall()
for row in rows:
    print(row)

('Alfreds Futterkiste', 'Berlin')
('Ana Trujillo Emparedados y helados', 'México D.F.')
('Antonio Mereno Taquería', 'México D.F.')
('Around the Horn', 'London')
('Berglunds snabbköp', 'Luleå')

In [9]:
cur.execute("SELECT DISTINCT Country FROM Customers;")

rows = cur.fetchall()
print(rows)

[('Germany',), ('Mexico',), ('UK',), ('Sweden',)]

In [10]:
cur.execute("SELECT Country FROM Customers;")

rows = cur.fetchall()
print(rows)

[('Germany',), ('Mexico',), ('Mexico',), ('UK',), ('Sweden',)]

In [11]:
cur.execute("SELECT COUNT(DISTINCT Country) FROM Customers;")

rows = cur.fetchall()
print(rows)

[(4,)]

In [12]:
cur.execute("""SELECT * FROM Customers WHERE Country='Mexico';""")

rows = cur.fetchall()
for row in rows:
    print(row)

(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')

In [13]:
cur.execute("""SELECT * FROM Customers WHERE CustomerID=1;""")
rows = cur.fetchall()
print(rows)

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')]

In [14]:
cur.execute("""SELECT * FROM Customers WHERE CustomerID > 3;""")

rows = cur.fetchall()
for row in rows:
    print(row)

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')

In [15]:
cur.execute("""select * from Customers where CustomerID between 2 and 4""")
rows = cur.fetchall()
for row in rows:
    print(row)

(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [16]:
cur.execute("""
create table if not exists Products (
    ProductID integer primary key autoincrement,
    ProductName text not null,
    SupplierID integer,
    CategoryID integer,
    Unit text,
    Price numeric
);
""")

In [17]:
cur.executemany("""
insert into Products (ProductName, SupplierID, CategoryID, Unit, Price)
values (?, ?, ?, ?, ?);
""", [
    ("Chais", 1, 1, "10 boxes x 20 bags", 18),
    ("Chang", 1, 1, "24 - 12 oz bottles", 19),
    ("Aniseed Syrup", 1, 2, "12 - 550 ml bottles", 10),
    ("Chef Anton's Cajun Seasoning", 2, 2, "48 - 6 oz jars", 22),
    ("Chef Anton's Gumbo Mix", 2, 2, "36 boxes", 21.35)
])

In [18]:
conn.commit()

In [19]:
cur.execute("SELECT * FROM Products ORDER BY Price;")

rows = cur.fetchall()
for row in rows:
    print(row)

(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)
(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19)
(5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35)
(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22)

In [20]:
cur.execute("SELECT * FROM Products ORDER BY Price DESC;")

rows = cur.fetchall()
for row in rows:
    print(row)

(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22)
(5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19)
(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)

In [21]:
cur.execute("SELECT * FROM Products ORDER BY ProductName;")

rows = cur.fetchall()
for row in rows:
    print(row)

(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)
(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19)
(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22)
(5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35)

In [22]:
cur.execute("SELECT * FROM Products ORDER BY ProductName DESC;")

rows = cur.fetchall()
for row in rows:
    print(row)

(5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35)
(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19)
(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)

In [23]:
cur.execute("SELECT * FROM Customers ORDER BY Country, CustomerName;")

rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [26]:
def run(sql):
    cur.execute(sql)
    print([d[0] for d in cur.description])
    for row in cur:
        print(row)

In [27]:
run("SELECT * FROM Customers ORDER BY Country ASC, CustomerName DESC;")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [28]:
cur.executemany("""
insert into Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
values (?, ?, ?, ?, ?, ?);
""", [
    ("Galería del gastrónomo", "Eduardo Saavedra", "Rambla de Cataluña, 23", "Barcelona", "08022", "Spain"),
    ("Godos Cocina Típica", "José Pedro Freyre", "C/ Romero, 33", "Sevilla", "41101", "Spain")
])

In [29]:
conn.commit()

In [30]:
run("""SELECT *
FROM Customers
WHERE Country = 'Spain' AND CustomerName LIKE 'G%';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')

In [31]:
cur.executemany("""
insert into Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
values (?, ?, ?, ?, ?, ?);
""", [
    ("Que Delícia","Bernardo Batista","Rua da Panificadora, 12", "Rio de Janeiro","02389-673","Brazil"),
    ("Ricardo Adocicados","Janete Limeira","Av. Copacabana, 267","Rio de Janeiro","02389-890","Brazil")
])
conn.commit()

In [32]:
run("""SELECT * FROM Customers
WHERE Country = 'Brazil'
AND City = 'Rio de Janeiro'
AND CustomerID > 5;""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(8, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(9, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')

In [33]:
cur.execute("""
insert into Customers (CustomerName, ContactName, Address, City, PostalCode, Country) values ("Romero y tomillo","Alejandra Camino","Gran Vía, 1","Madrid","28001","Spain");
""")
conn.commit()

In [34]:
run("""SELECT * FROM Customers
WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')

In [35]:
run("""SELECT *
FROM Customers
WHERE Country = 'Germany' OR Country = 'Spain';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')

In [36]:
run("""SELECT * FROM Customers
WHERE City = 'Berlin' OR CustomerName LIKE 'G%' OR Country = 'Norway';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')

In [37]:
run("""SELECT * FROM Customers
WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')

In [38]:
run("""SELECT * FROM Customers
WHERE NOT Country = 'Spain';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(8, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(9, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')

In [39]:
run("""SELECT * FROM Customers
WHERE CustomerName NOT LIKE 'G%';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(8, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(9, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')

In [40]:
run("""SELECT * FROM Customers
WHERE CustomerID NOT BETWEEN 4 AND 9;""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')

In [41]:
run("""SELECT * FROM Customers
WHERE City NOT IN ('Berlin', 'London');""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(8, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(9, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')

In [42]:
run("""SELECT * FROM Customers
WHERE NOT CustomerID > 5;""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')

In [43]:
run("""SELECT * FROM Customers
WHERE NOT CustomerId < 5;""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(8, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(9, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')

In [44]:
cur.execute("""INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');""")

In [45]:
conn.commit()

In [46]:
cur.execute("""INSERT INTO Customers (CustomerName, City, Country)
VALUES ('Cardinal', 'Stavanger', 'Norway');""")
conn.commit()

In [47]:
cur.execute("""INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES
('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway'),
('Greasy Burger', 'Per Olsen', 'Gateveien 15', 'Sandnes', '4306', 'Norway'),
('Tasty Tee', 'Finn Egan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK');""")
conn.commit()

In [48]:
run("""SELECT CustomerName, ContactName, Address
FROM Customers
WHERE Address IS NULL;""")

['CustomerName', 'ContactName', 'Address']
('Cardinal', None, None)

In [49]:
run("""SELECT CustomerName, ContactName, Address
FROM Customers
WHERE Address IS NOT NULL;""")

['CustomerName', 'ContactName', 'Address']
('Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57')
('Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222')
('Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312')
('Around the Horn', 'Thomas Hardy', '120 Hanover Sq.')
('Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8')
('Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23')
('Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33')
('Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12')
('Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267')
('Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1')
('Cardinal', 'Tom B. Erichsen', 'Skagen 21')
('Cardinal', 'Tom B. Erichsen', 'Skagen 21')
('Greasy Burger', 'Per Olsen', 'Gateveien 15')
('Tasty Tee', 'Finn Egan', 'Streetroad 19B')

In [50]:
run("select * from Customers")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(8, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(9, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')
(11, 'Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway')
(12, 'Cardinal', None, None, 'Stavanger', None, 'Norway')
(13, 'Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway')
(14, 'Greasy Burger', 'Per Olsen', 'Gateveien 15', 'Sandnes', '4306', 'Norway')
(15, 'Tasty Tee', 'Finn Egan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')

In [52]:
cur.execute("""UPDATE Customers
SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
WHERE CustomerID = 1;""")

In [53]:
run("select * from Customers")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Alfred Schmidt', 'Obere Str. 57', 'Frankfurt', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(8, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(9, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')
(11, 'Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway')
(12, 'Cardinal', None, None, 'Stavanger', None, 'Norway')
(13, 'Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway')
(14, 'Greasy Burger', 'Per Olsen', 'Gateveien 15', 'Sandnes', '4306', 'Norway')
(15, 'Tasty Tee', 'Finn Egan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')

In [54]:
cur.execute("""DELETE FROM Customers WHERE CustomerName='Cardinal' AND ContactName='Tom B. Erichsen';""")

In [55]:
run("select * from Customers")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Alfred Schmidt', 'Obere Str. 57', 'Frankfurt', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(8, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(9, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')
(12, 'Cardinal', None, None, 'Stavanger', None, 'Norway')
(14, 'Greasy Burger', 'Per Olsen', 'Gateveien 15', 'Sandnes', '4306', 'Norway')
(15, 'Tasty Tee', 'Finn Egan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')

In [56]:
# cur.execute("DELETE FROM Customers;")
# cur.execute("DROP TABLE Customers;")

In [57]:
run("""SELECT * FROM Customers LIMIT 3;""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Alfred Schmidt', 'Obere Str. 57', 'Frankfurt', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')

In [58]:
run("""SELECT *
FROM Customers
LIMIT (
    SELECT COUNT(*) / 2 FROM Customers
);""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Alfred Schmidt', 'Obere Str. 57', 'Frankfurt', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')

In [59]:
run("""SELECT * FROM Customers
ORDER BY CustomerName DESC
LIMIT 3;""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(15, 'Tasty Tee', 'Finn Egan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')
(9, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')

In [60]:
run("""SELECT MIN(Price)
FROM Products;""")

['MIN(Price)']
(10,)

In [61]:
run("""SELECT MAX(Price)
FROM Products;""")

['MAX(Price)']
(22,)

In [62]:
run("""SELECT MIN(Price) AS SmallestPrice
FROM Products;""")

['SmallestPrice']
(10,)

In [63]:
run("""SELECT MIN(Price) AS SmallestPrice, CategoryID
FROM Products
GROUP BY CategoryID;""")

['SmallestPrice', 'CategoryID']
(18, 1)
(10, 2)

In [64]:
run("""SELECT COUNT(*)
FROM Products;""")

['COUNT(*)']
(5,)

In [65]:
run("""SELECT COUNT(ProductName)
FROM Products;""")

['COUNT(ProductName)']
(5,)

In [66]:
run("""SELECT COUNT(ProductID)
FROM Products
WHERE Price > 20;""")

['COUNT(ProductID)']
(2,)

In [67]:
run("""SELECT COUNT(DISTINCT Price)
FROM Products;""")

['COUNT(DISTINCT Price)']
(5,)

In [68]:
run("""SELECT COUNT(*) AS [Number of records]
FROM Products;""")

['Number of records']
(5,)

In [69]:
run("""SELECT COUNT(*) AS [Number of records], CategoryID
FROM Products
GROUP BY CategoryID;""")

['Number of records', 'CategoryID']
(2, 1)
(3, 2)

In [71]:
cur.execute("""
create table if not exists OrderDetails (
    OrderDetailID integer primary key autoincrement,
    OrderID numeric,
    ProductID numeric,
    Quantity numeric
);
""")

cur.executemany("""
insert into OrderDetails (OrderID, ProductID, Quantity)
values (?, ?, ?);
""", [
    (10248, 11, 12),
    (10248, 42, 10),
    (10248, 72, 5),
    (10249, 14, 9),
    (10249, 51, 40)
])

conn.commit()

In [72]:
run("""SELECT SUM(Quantity)
FROM OrderDetails;""")

['SUM(Quantity)']
(76,)

In [75]:
run("""SELECT SUM(Quantity)
FROM OrderDetails
WHERE ProductId = 42;""")

['SUM(Quantity)']
(10,)

In [76]:
run("""SELECT SUM(Quantity) AS total
FROM OrderDetails;""")

['total']
(76,)

In [77]:
run("""SELECT OrderID, SUM(Quantity) AS [Total Quantity]
FROM OrderDetails
GROUP BY OrderID;""")

['OrderID', 'Total Quantity']
(10248, 27)
(10249, 49)

In [78]:
run("""SELECT SUM(Quantity * 10)
FROM OrderDetails;""")

['SUM(Quantity * 10)']
(760,)

In [80]:
cur.executemany("""
insert into Products (ProductName, SupplierID, CategoryID, Unit, Price)
values (?, ?, ?, ?, ?);
""", [
    ("Grandma's Boysenberry Spread", 3, 2, "12 - 8 oz jars", 25.00),
    ("Uncle Bob's Organic Dried Pears", 3, 7, "12 - 1 lb pkgs.", 30.00),
    ("Northwoods Cranberry Sauce", 3, 2, "12 - 12 oz jars", 40.00),
    ("Mishi Kobe Niku", 4, 6, "18 - 500 g pkgs.", 97.00),
    ("Ikura", 4, 8, "12 - 200 ml jars", 31.00),
    ("Queso Cabrales", 5, 4, "1 kg pkg.", 21.00),
    ("Queso Manchego La Pastora", 5, 4, "10 - 500 g pkgs.", 38.00),
    ("Konbu", 6, 8, "2 kg box", 6.00),
    ("Tofu", 6, 7, "40 - 100 g pkgs.", 23.25),
    ("Genen Shouyu", 6, 2, "24 - 250 ml bottles", 15.50),
    ("Pavlova", 7, 3, "32 - 500 g boxes", 17.45),
    ("Alice Mutton", 7, 6, "20 - 1 kg tins", 39.00)
])
conn.commit()

In [81]:
run("select * from Products")

['ProductID', 'ProductName', 'SupplierID', 'CategoryID', 'Unit', 'Price']
(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)
(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22)
(5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35)
(6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25)
(7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30)
(8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40)
(9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97)
(10, 'Ikura', 4, 8, '12 - 200 ml jars', 31)
(11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21)
(12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38)
(13, 'Konbu', 6, 8, '2 kg box', 6)
(14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23.25)
(15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5)
(16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45)
(17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39)

In [82]:
cur.executemany("""
INSERT INTO OrderDetails (OrderID, ProductID, Quantity)
VALUES (?, ?, ?);
""", [
    (10255, 2, 20),
    (10255, 16, 35),
    (10258, 2, 50),
    (10258, 5, 65),
    (10262, 5, 12),
    (10262, 7, 15),
    (10263, 16, 60),
    (10264, 2, 35),
    (10265, 17, 30),
    (10266, 12, 12),
    (10273, 10, 24),
    (10276, 10, 15),
    (10276, 13, 10),
    (10279, 17, 15),
])
conn.commit()

In [83]:
run("select * from OrderDetails")

['OrderDetailID', 'OrderID', 'ProductID', 'Quantity']
(1, 10248, 11, 12)
(2, 10248, 42, 10)
(3, 10248, 72, 5)
(4, 10249, 14, 9)
(5, 10249, 51, 40)
(6, 10255, 2, 20)
(7, 10255, 16, 35)
(8, 10258, 2, 50)
(9, 10258, 5, 65)
(10, 10262, 5, 12)
(11, 10262, 7, 15)
(12, 10263, 16, 60)
(13, 10264, 2, 35)
(14, 10265, 17, 30)
(15, 10266, 12, 12)
(16, 10273, 10, 24)
(17, 10276, 10, 15)
(18, 10276, 13, 10)
(19, 10279, 17, 15)

In [84]:
run("""SELECT SUM(Price * Quantity)
FROM OrderDetails
LEFT JOIN Products ON OrderDetails.ProductID = Products.ProductID;""")

['SUM(Price * Quantity)']
(9687.95,)

In [85]:
run("SELECT AVG(Price) FROM Products;")

['AVG(Price)']
(27.855882352941176,)

In [86]:
run("""SELECT AVG(Price)
FROM Products
WHERE CategoryID = 1;""")

['AVG(Price)']
(18.5,)

In [87]:
run("""SELECT AVG(Price) AS [average price]
FROM Products;""")

['average price']
(27.855882352941176,)

In [88]:
run("""SELECT * FROM Products
WHERE price > (SELECT AVG(price) FROM Products);""")

['ProductID', 'ProductName', 'SupplierID', 'CategoryID', 'Unit', 'Price']
(7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30)
(8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40)
(9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97)
(10, 'Ikura', 4, 8, '12 - 200 ml jars', 31)
(12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38)
(17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39)

In [89]:
run("""SELECT AVG(Price) AS AveragePrice, CategoryID
FROM Products
GROUP BY CategoryID;""")

['AveragePrice', 'CategoryID']
(18.5, 1)
(22.308333333333334, 2)
(17.45, 3)
(29.5, 4)
(68.0, 6)
(26.625, 7)
(18.5, 8)

In [90]:
run("""SELECT * FROM Customers
WHERE CustomerName LIKE 'a%';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Alfred Schmidt', 'Obere Str. 57', 'Frankfurt', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [91]:
run("""SELECT * FROM Customers
WHERE city LIKE 'L_nd__';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [92]:
run("""SELECT * FROM Customers
WHERE city LIKE '%L%';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(15, 'Tasty Tee', 'Finn Egan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')

In [96]:
run("""SELECT * FROM Customers
WHERE CustomerName LIKE 'Ar%';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [97]:
run("""SELECT * FROM Customers
WHERE CustomerName LIKE 'a%' OR CustomerName LIKE 'b%';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Alfred Schmidt', 'Obere Str. 57', 'Frankfurt', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')

In [98]:
run("""SELECT * FROM Customers
WHERE CustomerName LIKE '%a';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(8, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')

In [100]:
run("""SELECT * FROM Customers
WHERE CustomerName LIKE 'g%a';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')

In [101]:
run("""SELECT * FROM Customers
WHERE CustomerName LIKE '%or%';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [102]:
run("""SELECT * FROM Customers
WHERE CustomerName LIKE 'a__%';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Alfred Schmidt', 'Obere Str. 57', 'Frankfurt', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [103]:
run("""SELECT * FROM Customers
WHERE CustomerName LIKE '_r%';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(14, 'Greasy Burger', 'Per Olsen', 'Gateveien 15', 'Sandnes', '4306', 'Norway')

In [104]:
run("""SELECT * FROM Customers
WHERE Country LIKE 'Spain';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')

In [105]:
run("""SELECT * FROM Customers
WHERE CustomerName LIKE 'a%';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Alfred Schmidt', 'Obere Str. 57', 'Frankfurt', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [106]:
run("""SELECT * FROM Customers
WHERE CustomerName LIKE '%mer%';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')

In [107]:
run("""SELECT * FROM Customers
WHERE City LIKE 'L___on';""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [110]:
run("""SELECT * FROM Customers
WHERE Country IN ('Germany', 'France', 'UK');""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Alfred Schmidt', 'Obere Str. 57', 'Frankfurt', '12209', 'Germany')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(15, 'Tasty Tee', 'Finn Egan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')

In [111]:
run("""SELECT * FROM Customers
WHERE Country NOT IN ('Germany', 'France', 'UK');""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(8, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(9, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')
(12, 'Cardinal', None, None, 'Stavanger', None, 'Norway')
(14, 'Greasy Burger', 'Per Olsen', 'Gateveien 15', 'Sandnes', '4306', 'Norway')

In [114]:
cur.execute("""
CREATE TABLE Orders (
    OrderID INTEGER PRIMARY KEY,
    CustomerID INTEGER,
    EmployeeID INTEGER,
    OrderDate TEXT,
    ShipperID INTEGER
);
""")

cur.execute("""
INSERT INTO Orders (OrderID, CustomerID, EmployeeID, OrderDate, ShipperID) VALUES
(10248, 90, 5, '1996-07-04', 3),
(10249, 81, 6, '1996-07-05', 1),
(10250, 34, 4, '1996-07-08', 2),
(10251, 84, 3, '1996-07-08', 1),
(10252, 76, 4, '1996-07-09', 2),
(10253, 34, 3, '1996-07-10', 2),
(10254, 14, 5, '1996-07-11', 2),
(10255, 68, 9, '1996-07-12', 3),
(10256, 88, 3, '1996-07-15', 2),
(10257, 35, 4, '1996-07-16', 3),
(10258, 20, 1, '1996-07-17', 1),
(10259, 13, 4, '1996-07-18', 3),
(10260, 55, 4, '1996-07-19', 1),
(10261, 61, 4, '1996-07-19', 2),
(10262, 65, 8, '1996-07-22', 3),
(10263, 20, 9, '1996-07-23', 3);
""")

conn.commit()

In [117]:
cur.execute("""INSERT INTO Orders (OrderID, CustomerID, EmployeeID, OrderDate, ShipperID) VALUES
(10265, 7, 2, '1996-07-25', 1),
(10278, 5, 8, '1996-08-12', 2),
(10280, 5, 2, '1996-08-14', 1),
(10289, 11, 7, '1996-08-26', 3),
(10290, 15, 8, '1996-08-27', 1),
(10297, 7, 5, '1996-09-04', 2),
(10308, 2, 7, '1996-09-18', 3),
(10311, 18, 1, '1996-09-20', 3),
(10326, 8, 4, '1996-10-10', 2),
(10331, 9, 9, '1996-10-16', 1),
(10340, 9, 1, '1996-10-29', 3),
(10355, 4, 6, '1996-11-15', 1),
(10360, 7, 4, '1996-11-22', 3),
(10362, 9, 3, '1996-11-25', 1),
(10363, 17, 4, '1996-11-26', 3);""")
conn.commit()

In [118]:
run("select * from Orders")

['OrderID', 'CustomerID', 'EmployeeID', 'OrderDate', 'ShipperID']
(10248, 90, 5, '1996-07-04', 3)
(10249, 81, 6, '1996-07-05', 1)
(10250, 34, 4, '1996-07-08', 2)
(10251, 84, 3, '1996-07-08', 1)
(10252, 76, 4, '1996-07-09', 2)
(10253, 34, 3, '1996-07-10', 2)
(10254, 14, 5, '1996-07-11', 2)
(10255, 68, 9, '1996-07-12', 3)
(10256, 88, 3, '1996-07-15', 2)
(10257, 35, 4, '1996-07-16', 3)
(10258, 20, 1, '1996-07-17', 1)
(10259, 13, 4, '1996-07-18', 3)
(10260, 55, 4, '1996-07-19', 1)
(10261, 61, 4, '1996-07-19', 2)
(10262, 65, 8, '1996-07-22', 3)
(10263, 20, 9, '1996-07-23', 3)
(10265, 7, 2, '1996-07-25', 1)
(10278, 5, 8, '1996-08-12', 2)
(10280, 5, 2, '1996-08-14', 1)
(10289, 11, 7, '1996-08-26', 3)
(10290, 15, 8, '1996-08-27', 1)
(10297, 7, 5, '1996-09-04', 2)
(10308, 2, 7, '1996-09-18', 3)
(10311, 18, 1, '1996-09-20', 3)
(10326, 8, 4, '1996-10-10', 2)
(10331, 9, 9, '1996-10-16', 1)
(10340, 9, 1, '1996-10-29', 3)
(10355, 4, 6, '1996-11-15', 1)
(10360, 7, 4, '1996-11-22', 3)
(10362, 9, 3, '1996-11-25', 1)
(10363, 17, 4, '1996-11-26', 3)

In [119]:
run("""SELECT * FROM Customers
WHERE CustomerID IN (SELECT CustomerID FROM Orders);""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(7, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(8, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(9, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(14, 'Greasy Burger', 'Per Olsen', 'Gateveien 15', 'Sandnes', '4306', 'Norway')
(15, 'Tasty Tee', 'Finn Egan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')

In [120]:
run("""SELECT * FROM Customers
WHERE CustomerID NOT IN (SELECT CustomerID FROM Orders);""")

['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
(1, 'Alfreds Futterkiste', 'Alfred Schmidt', 'Obere Str. 57', 'Frankfurt', '12209', 'Germany')
(3, 'Antonio Mereno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(6, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(10, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')
(12, 'Cardinal', None, None, 'Stavanger', None, 'Norway')

In [121]:
run("""SELECT * FROM Products
WHERE Price BETWEEN 10 AND 20;""")

['ProductID', 'ProductName', 'SupplierID', 'CategoryID', 'Unit', 'Price']
(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)
(15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5)
(16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45)

In [122]:
run("""SELECT * FROM Products
WHERE Price NOT BETWEEN 10 AND 20;""")

['ProductID', 'ProductName', 'SupplierID', 'CategoryID', 'Unit', 'Price']
(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22)
(5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35)
(6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25)
(7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30)
(8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40)
(9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97)
(10, 'Ikura', 4, 8, '12 - 200 ml jars', 31)
(11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21)
(12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38)
(13, 'Konbu', 6, 8, '2 kg box', 6)
(14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23.25)
(17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39)

In [123]:
run("""SELECT * FROM Products
WHERE Price BETWEEN 10 AND 20
AND CategoryID IN (1,2,3);""")

['ProductID', 'ProductName', 'SupplierID', 'CategoryID', 'Unit', 'Price']
(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)
(15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5)
(16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45)

In [124]:
run("""SELECT * FROM Products
WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
ORDER BY ProductName;""")

['ProductID', 'ProductName', 'SupplierID', 'CategoryID', 'Unit', 'Price']
(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19)
(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22)
(5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35)
(15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5)
(6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25)
(10, 'Ikura', 4, 8, '12 - 200 ml jars', 31)
(13, 'Konbu', 6, 8, '2 kg box', 6)
(9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97)

In [125]:
run("""SELECT * FROM Products
WHERE ProductName NOT BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
ORDER BY ProductName;""")

['ProductID', 'ProductName', 'SupplierID', 'CategoryID', 'Unit', 'Price']
(17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)
(8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40)
(16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45)
(11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21)
(12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38)
(14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23.25)
(7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30)

In [127]:
run("""SELECT * FROM Orders
WHERE OrderDate BETWEEN '1996-07-01' AND '1996-07-31';""")

['OrderID', 'CustomerID', 'EmployeeID', 'OrderDate', 'ShipperID']
(10248, 90, 5, '1996-07-04', 3)
(10249, 81, 6, '1996-07-05', 1)
(10250, 34, 4, '1996-07-08', 2)
(10251, 84, 3, '1996-07-08', 1)
(10252, 76, 4, '1996-07-09', 2)
(10253, 34, 3, '1996-07-10', 2)
(10254, 14, 5, '1996-07-11', 2)
(10255, 68, 9, '1996-07-12', 3)
(10256, 88, 3, '1996-07-15', 2)
(10257, 35, 4, '1996-07-16', 3)
(10258, 20, 1, '1996-07-17', 1)
(10259, 13, 4, '1996-07-18', 3)
(10260, 55, 4, '1996-07-19', 1)
(10261, 61, 4, '1996-07-19', 2)
(10262, 65, 8, '1996-07-22', 3)
(10263, 20, 9, '1996-07-23', 3)
(10265, 7, 2, '1996-07-25', 1)

In [128]:
run("""SELECT CustomerID AS ID
FROM Customers;""")

['ID']
(1,)
(2,)
(3,)
(4,)
(5,)
(6,)
(7,)
(8,)
(9,)
(10,)
(12,)
(14,)
(15,)

In [129]:
run("""SELECT CustomerID ID
FROM Customers;""")

['ID']
(1,)
(2,)
(3,)
(4,)
(5,)
(6,)
(7,)
(8,)
(9,)
(10,)
(12,)
(14,)
(15,)

In [130]:
run("""SELECT ProductName AS [My Great Products]
FROM Products;""")

['My Great Products']
('Chais',)
('Chang',)
('Aniseed Syrup',)
("Chef Anton's Cajun Seasoning",)
("Chef Anton's Gumbo Mix",)
("Grandma's Boysenberry Spread",)
("Uncle Bob's Organic Dried Pears",)
('Northwoods Cranberry Sauce',)
('Mishi Kobe Niku',)
('Ikura',)
('Queso Cabrales',)
('Queso Manchego La Pastora',)
('Konbu',)
('Tofu',)
('Genen Shouyu',)
('Pavlova',)
('Alice Mutton',)

In [136]:
run("""SELECT CustomerName, CONCAT(Address,', ',PostalCode,', ',City,', ',Country) AS Address
FROM Customers;""")

['CustomerName', 'Address']
('Alfreds Futterkiste', 'Obere Str. 57, 12209, Frankfurt, Germany')
('Ana Trujillo Emparedados y helados', 'Avda. de la Constitución 2222, 05021, México D.F., Mexico')
('Antonio Mereno Taquería', 'Mataderos 2312, 05023, México D.F., Mexico')
('Around the Horn', '120 Hanover Sq., WA1 1DP, London, UK')
('Berglunds snabbköp', 'Berguvsvägen 8, S-958 22, Luleå, Sweden')
('Galería del gastrónomo', 'Rambla de Cataluña, 23, 08022, Barcelona, Spain')
('Godos Cocina Típica', 'C/ Romero, 33, 41101, Sevilla, Spain')
('Que Delícia', 'Rua da Panificadora, 12, 02389-673, Rio de Janeiro, Brazil')
('Ricardo Adocicados', 'Av. Copacabana, 267, 02389-890, Rio de Janeiro, Brazil')
('Romero y tomillo', 'Gran Vía, 1, 28001, Madrid, Spain')
('Cardinal', ', , Stavanger, Norway')
('Greasy Burger', 'Gateveien 15, 4306, Sandnes, Norway')
('Tasty Tee', 'Streetroad 19B, L1 0AA, Liverpool, UK')

In [137]:
run("""SELECT o.OrderID, o.OrderDate, c.CustomerName
FROM Customers AS c, Orders AS o
WHERE c.CustomerName='Around the Horn' AND c.CustomerID=o.CustomerID;""")

['OrderID', 'OrderDate', 'CustomerName']
(10355, '1996-11-15', 'Around the Horn')

In [138]:
run("""SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate
FROM Orders
INNER JOIN Customers ON Orders.CustomerID=Customers.CustomerID;""")

['OrderID', 'CustomerName', 'OrderDate']
(10254, 'Greasy Burger', '1996-07-11')
(10265, 'Godos Cocina Típica', '1996-07-25')
(10278, 'Berglunds snabbköp', '1996-08-12')
(10280, 'Berglunds snabbköp', '1996-08-14')
(10290, 'Tasty Tee', '1996-08-27')
(10297, 'Godos Cocina Típica', '1996-09-04')
(10308, 'Ana Trujillo Emparedados y helados', '1996-09-18')
(10326, 'Que Delícia', '1996-10-10')
(10331, 'Ricardo Adocicados', '1996-10-16')
(10340, 'Ricardo Adocicados', '1996-10-29')
(10355, 'Around the Horn', '1996-11-15')
(10360, 'Godos Cocina Típica', '1996-11-22')
(10362, 'Ricardo Adocicados', '1996-11-25')

In [139]:
cur.execute("""
CREATE TABLE Categories (
    CategoryID INTEGER PRIMARY KEY,
    CategoryName TEXT NOT NULL,
    Description TEXT
);
""")

cur.execute("""
INSERT INTO Categories (CategoryID, CategoryName, Description) VALUES
(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
(2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
(3, 'Confections', 'Desserts, candies, and sweet breads'),
(4, 'Dairy Products', 'Cheeses'),
(5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
(6, 'Meat/Poultry', 'Prepared meats'),
(7, 'Produce', 'Dried fruit and bean curd'),
(8, 'Seafood', 'Seaweed and fish');
""")

conn.commit()

In [140]:
run("""SELECT ProductID, ProductName, CategoryName
FROM Products
INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID;""")

['ProductID', 'ProductName', 'CategoryName']
(1, 'Chais', 'Beverages')
(2, 'Chang', 'Beverages')
(3, 'Aniseed Syrup', 'Condiments')
(4, "Chef Anton's Cajun Seasoning", 'Condiments')
(5, "Chef Anton's Gumbo Mix", 'Condiments')
(6, "Grandma's Boysenberry Spread", 'Condiments')
(7, "Uncle Bob's Organic Dried Pears", 'Produce')
(8, 'Northwoods Cranberry Sauce', 'Condiments')
(9, 'Mishi Kobe Niku', 'Meat/Poultry')
(10, 'Ikura', 'Seafood')
(11, 'Queso Cabrales', 'Dairy Products')
(12, 'Queso Manchego La Pastora', 'Dairy Products')
(13, 'Konbu', 'Seafood')
(14, 'Tofu', 'Produce')
(15, 'Genen Shouyu', 'Condiments')
(16, 'Pavlova', 'Confections')
(17, 'Alice Mutton', 'Meat/Poultry')

In [141]:
cur.execute("""CREATE TABLE Shippers (
    ShipperID INTEGER PRIMARY KEY,
    ShipperName TEXT NOT NULL,
    Phone TEXT
);
""")

cur.execute("""INSERT INTO Shippers (ShipperID, ShipperName, Phone) VALUES
(1, 'Speedy Express', '(503) 555-9831'),
(2, 'United Package', '(503) 555-3199'),
(3, 'Federal Shipping', '(503) 555-9931');
""")

conn.commit()

In [142]:
run("""SELECT Orders.OrderID, Customers.CustomerName, Shippers.ShipperName
FROM ((Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID)
INNER JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID);""")

['OrderID', 'CustomerName', 'ShipperName']
(10254, 'Greasy Burger', 'United Package')
(10265, 'Godos Cocina Típica', 'Speedy Express')
(10278, 'Berglunds snabbköp', 'United Package')
(10280, 'Berglunds snabbköp', 'Speedy Express')
(10290, 'Tasty Tee', 'Speedy Express')
(10297, 'Godos Cocina Típica', 'United Package')
(10308, 'Ana Trujillo Emparedados y helados', 'Federal Shipping')
(10326, 'Que Delícia', 'United Package')
(10331, 'Ricardo Adocicados', 'Speedy Express')
(10340, 'Ricardo Adocicados', 'Federal Shipping')
(10355, 'Around the Horn', 'Speedy Express')
(10360, 'Godos Cocina Típica', 'Federal Shipping')
(10362, 'Ricardo Adocicados', 'Speedy Express')

In [143]:
run("""SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
ORDER BY Customers.CustomerName;""")

['CustomerName', 'OrderID']
('Alfreds Futterkiste', None)
('Ana Trujillo Emparedados y helados', 10308)
('Antonio Mereno Taquería', None)
('Around the Horn', 10355)
('Berglunds snabbköp', 10278)
('Berglunds snabbköp', 10280)
('Cardinal', None)
('Galería del gastrónomo', None)
('Godos Cocina Típica', 10265)
('Godos Cocina Típica', 10297)
('Godos Cocina Típica', 10360)
('Greasy Burger', 10254)
('Que Delícia', 10326)
('Ricardo Adocicados', 10331)
('Ricardo Adocicados', 10340)
('Ricardo Adocicados', 10362)
('Romero y tomillo', None)
('Tasty Tee', 10290)

In [145]:
cur.execute("""CREATE TABLE Employees (
    EmployeeID INTEGER PRIMARY KEY,
    LastName TEXT NOT NULL,
    FirstName TEXT NOT NULL,
    BirthDate TEXT,
    Photo TEXT,
    Notes TEXT
);
""")
cur.execute("""INSERT INTO Employees
(EmployeeID, LastName, FirstName, BirthDate, Photo, Notes) VALUES
(1, 'Davolio', 'Nancy', '1968-12-08', 'EmpID1.pic',
 'Education includes a BA in psychology from Colorado State University. She also completed (The Art of the Cold Call). Nancy is a member of Toastmasters International.'),

(2, 'Fuller', 'Andrew', '1952-02-19', 'EmpID2.pic',
 'Andrew received his BTS commercial and a Ph.D. in international marketing from the University of Dallas. He is fluent in French and Italian and reads German. He joined the company as a sales representative, was promoted to sales manager and was then named vice president of sales. Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.'),

(3, 'Leverling', 'Janet', '1963-08-30', 'EmpID3.pic',
 'Janet has a BS degree in chemistry from Boston College). She has also completed a certificate program in food retailing management. Janet was hired as a sales associate and was promoted to sales representative.'),

(4, 'Peacock', 'Margaret', '1958-09-19', 'EmpID4.pic',
 'Margaret holds a BA in English literature from Concordia College and an MA from the American Institute of Culinary Arts. She was temporarily assigned to the London office before returning to her permanent post in Seattle.'),

(5, 'Buchanan', 'Steven', '1955-03-04', 'EmpID5.pic',
 'Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree. Upon joining the company as a sales representative, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London, where he was promoted to sales manager. Mr. Buchanan has completed the courses Successful Telemarketing and International Sales Management. He is fluent in French.'),

(6, 'Suyama', 'Michael', '1963-07-02', 'EmpID6.pic',
 'Michael is a graduate of Sussex University (MA, economics) and the University of California at Los Angeles (MBA, marketing). He has also taken the courses Multi-Cultural Selling and Time Management for the Sales Professional. He is fluent in Japanese and can read and write French, Portuguese, and Spanish.'),

(7, 'King', 'Robert', '1960-05-29', 'EmpID7.pic',
 'Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan and then joining the company. After completing a course entitled Selling in Europe, he was transferred to the London office.'),

(8, 'Callahan', 'Laura', '1958-01-09', 'EmpID8.pic',
 'Laura received a BA in psychology from the University of Washington. She has also completed a course in business French. She reads and writes French.'),

(9, 'Dodsworth', 'Anne', '1969-07-02', 'EmpID9.pic',
 'Anne has a BA degree in English from St. Lawrence College. She is fluent in French and German.'),

(10, 'West', 'Adam', '1928-09-19', 'EmpID10.pic',
 'An old chum.');
""")
conn.commit()

In [146]:
run("""SELECT Orders.OrderID, Employees.LastName, Employees.FirstName
FROM Orders
RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
ORDER BY Orders.OrderID;""")

['OrderID', 'LastName', 'FirstName']
(None, 'West', 'Adam')
(10248, 'Buchanan', 'Steven')
(10249, 'Suyama', 'Michael')
(10250, 'Peacock', 'Margaret')
(10251, 'Leverling', 'Janet')
(10252, 'Peacock', 'Margaret')
(10253, 'Leverling', 'Janet')
(10254, 'Buchanan', 'Steven')
(10255, 'Dodsworth', 'Anne')
(10256, 'Leverling', 'Janet')
(10257, 'Peacock', 'Margaret')
(10258, 'Davolio', 'Nancy')
(10259, 'Peacock', 'Margaret')
(10260, 'Peacock', 'Margaret')
(10261, 'Peacock', 'Margaret')
(10262, 'Callahan', 'Laura')
(10263, 'Dodsworth', 'Anne')
(10265, 'Fuller', 'Andrew')
(10278, 'Callahan', 'Laura')
(10280, 'Fuller', 'Andrew')
(10289, 'King', 'Robert')
(10290, 'Callahan', 'Laura')
(10297, 'Buchanan', 'Steven')
(10308, 'King', 'Robert')
(10311, 'Davolio', 'Nancy')
(10326, 'Peacock', 'Margaret')
(10331, 'Dodsworth', 'Anne')
(10340, 'Davolio', 'Nancy')
(10355, 'Suyama', 'Michael')
(10360, 'Peacock', 'Margaret')
(10362, 'Leverling', 'Janet')
(10363, 'Peacock', 'Margaret')

In [147]:
run("""SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
ORDER BY Customers.CustomerName;""")

['CustomerName', 'OrderID']
(None, 10248)
(None, 10249)
(None, 10250)
(None, 10251)
(None, 10252)
(None, 10253)
(None, 10255)
(None, 10256)
(None, 10257)
(None, 10258)
(None, 10259)
(None, 10260)
(None, 10261)
(None, 10262)
(None, 10263)
(None, 10289)
(None, 10311)
(None, 10363)
('Alfreds Futterkiste', None)
('Ana Trujillo Emparedados y helados', 10308)
('Antonio Mereno Taquería', None)
('Around the Horn', 10355)
('Berglunds snabbköp', 10278)
('Berglunds snabbköp', 10280)
('Cardinal', None)
('Galería del gastrónomo', None)
('Godos Cocina Típica', 10265)
('Godos Cocina Típica', 10297)
('Godos Cocina Típica', 10360)
('Greasy Burger', 10254)
('Que Delícia', 10326)
('Ricardo Adocicados', 10331)
('Ricardo Adocicados', 10340)
('Ricardo Adocicados', 10362)
('Romero y tomillo', None)
('Tasty Tee', 10290)

In [148]:
run("""SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City
FROM Customers A, Customers B
WHERE A.CustomerID <> B.CustomerID
AND A.City = B.City
ORDER BY A.City;""")

['CustomerName1', 'CustomerName2', 'City']
('Ana Trujillo Emparedados y helados', 'Antonio Mereno Taquería', 'México D.F.')
('Antonio Mereno Taquería', 'Ana Trujillo Emparedados y helados', 'México D.F.')
('Que Delícia', 'Ricardo Adocicados', 'Rio de Janeiro')
('Ricardo Adocicados', 'Que Delícia', 'Rio de Janeiro')

In [151]:
cur.execute("""
CREATE TABLE if not exists Suppliers (
    SupplierID INTEGER PRIMARY KEY,
    SupplierName TEXT NOT NULL,
    ContactName TEXT,
    Address TEXT,
    City TEXT,
    PostalCode TEXT,
    Country TEXT,
    Phone TEXT
);
""")
cur.execute("""
INSERT INTO Suppliers
(SupplierID, SupplierName, ContactName, Address, City, PostalCode, Country, Phone) VALUES
(1, 'Exotic Liquid', 'Charlotte Cooper', '49 Gilbert St.', 'Londona', 'EC1 4SD', 'UK', '(171) 555-2222'),
(2, 'New Orleans Cajun Delights', 'Shelley Burke', 'P.O. Box 78934', 'New Orleans', '70117', 'USA', '(100) 555-4822'),
(3, 'Grandma Kellys Homestead', 'Regina Murphy', '707 Oxford Rd.', 'Ann Arbor', '48104', 'USA', '(313) 555-5735'),
(4, 'Tokyo Traders', 'Yoshi Nagase', '9-8 Sekimai Musashino-shi', 'Tokyo', '100', 'Japan', '(03) 3555-5011'),
(5, 'Cooperativa de Quesos Las Cabras', 'Antonio del Valle Saavedra', 'Calle del Rosal 4', 'Oviedo', '33007', 'Spain', '(98) 598 76 54'),
(6, 'Mayumis', 'Mayumi Ohno', '92 Setsuko Chuo-ku', 'Osaka', '545', 'Japan', '(06) 431-7877'),
(7, 'Pavlova, Ltd.', 'Ian Devling', '74 Rose St. Moonie Ponds', 'Melbourne', '3058', 'Australia', '(03) 444-2343'),
(8, 'Specialty Biscuits, Ltd.', 'Peter Wilson', '29 Kings Way', 'Manchester', 'M14 GSD', 'UK', '(161) 555-4448'),
(9, 'PB Knäckebröd AB', 'Lars Peterson', 'Kaloadagatan 13', 'Göteborg', 'S-345 67', 'Sweden', '031-987 65 43'),
(10, 'Refrescos Americanas LTDA', 'Carlos Diaz', 'Av. das Americanas 12.890', 'São Paulo', '5442', 'Brazil', '(11) 555 4640'),
(11, 'Heli Süßwaren GmbH & Co. KG', 'Petra Winkler', 'Tiergartenstraße 5', 'Berlin', '10785', 'Germany', '(010) 9984510'),
(12, 'Plutzer Lebensmittelgroßmärkte AG', 'Martin Bein', 'Bogenallee 51', 'Frankfurt', '60439', 'Germany', '(069) 992755'),
(13, 'Nord-Ost-Fisch Handelsgesellschaft mbH', 'Sven Petersen', 'Frahmredder 112a', 'Cuxhaven', '27478', 'Germany', '(04721) 8713'),
(14, 'Formaggi Fortini s.r.l.', 'Elio Rossi', 'Viale Dante, 75', 'Ravenna', '48100', 'Italy', '(0544) 60323'),
(15, 'Norske Meierier', 'Beate Vileid', 'Hatlevegen 5', 'Sandvika', '1320', 'Norway', '(0)2-953010'),
(16, 'Bigfoot Breweries', 'Cheryl Saylor', '3400 - 8th Avenue Suite 210', 'Bend', '97101', 'USA', '(503) 555-9931'),
(17, 'Svensk Sjöföda AB', 'Michael Björn', 'Brovallavägen 231', 'Stockholm', 'S-123 45', 'Sweden', '08-123 45 67'),
(18, 'Aux joyeux ecclésiastiques', 'Guylène Nodier', '203, Rue des Francs-Bourgeois', 'Paris', '75004', 'France', '(1) 03.83.00.68'),
(19, 'New England Seafood Cannery', 'Robb Merchant', 'Order Processing Dept. 2100 Paul Revere Blvd.', 'Boston', '02134', 'USA', '(617) 555-3267'),
(20, 'Leka Trading', 'Chandra Leka', '471 Serangoon Loop, Suite #402', 'Singapore', '0512', 'Singapore', '555-8787'),
(21, 'Lyngbysild', 'Niels Petersen', 'Lyngbysild Fiskebakken 10', 'Lyngby', '2800', 'Denmark', '43844108'),
(22, 'Zaanse Snoepfabriek', 'Dirk Luchte', 'Verkoop Rijnweg 22', 'Zaandam', '9999 ZZ', 'Netherlands', '(12345) 1212'),
(23, 'Karkki Oy', 'Anne Heikkonen', 'Valtakatu 12', 'Lappeenranta', '53120', 'Finland', '(953) 10956'),
(24, 'Gday, Mate', 'Wendy Mackenzie', '170 Prince Edward Parade Hunters Hill', 'Sydney', '2042', 'Australia', '(02) 555-5914'),
(25, 'Ma Maison', 'Jean-Guy Lauzon', '2960 Rue St. Laurent', 'Montréal', 'H1J 1C3', 'Canada', '(514) 555-9022'),
(26, 'Pasta Buttini s.r.l.', 'Giovanni Giudici', 'Via dei Gelsomini, 153', 'Salerno', '84100', 'Italy', '(089) 6547665'),
(27, 'Escargots Nouveaux', 'Marie Delamare', '22, rue H. Voiron', 'Montceau', '71300', 'France', '85.57.00.07'),
(28, 'Gai pâturage', 'Eliane Noz', 'Bat. B 3, rue des Alpes', 'Annecy', '74000', 'France', '38.76.98.06'),
(29, 'Forêts dérables', 'Chantal Goulet', '148 rue Chasseur', 'Ste-Hyacinthe', 'J2S 7S8', 'Canada', '(514) 555-2955');

""")

In [152]:
conn.commit()

In [153]:
run("""SELECT City FROM Customers
UNION
SELECT City FROM Suppliers
ORDER BY City;""")

['City']
('Ann Arbor',)
('Annecy',)
('Barcelona',)
('Bend',)
('Berlin',)
('Boston',)
('Cuxhaven',)
('Frankfurt',)
('Göteborg',)
('Lappeenranta',)
('Liverpool',)
('London',)
('Londona',)
('Luleå',)
('Lyngby',)
('Madrid',)
('Manchester',)
('Melbourne',)
('Montceau',)
('Montréal',)
('México D.F.',)
('New Orleans',)
('Osaka',)
('Oviedo',)
('Paris',)
('Ravenna',)
('Rio de Janeiro',)
('Salerno',)
('Sandnes',)
('Sandvika',)
('Sevilla',)
('Singapore',)
('Stavanger',)
('Ste-Hyacinthe',)
('Stockholm',)
('Sydney',)
('São Paulo',)
('Tokyo',)
('Zaandam',)

In [154]:
run("""SELECT 'Customer' AS Type, ContactName, City, Country
FROM Customers
UNION
SELECT 'Supplier', ContactName, City, Country
FROM Suppliers;""")

['Type', 'ContactName', 'City', 'Country']
('Customer', None, 'Stavanger', 'Norway')
('Customer', 'Alejandra Camino', 'Madrid', 'Spain')
('Customer', 'Alfred Schmidt', 'Frankfurt', 'Germany')
('Customer', 'Ana Trujillo', 'México D.F.', 'Mexico')
('Customer', 'Antonio Moreno', 'México D.F.', 'Mexico')
('Customer', 'Bernardo Batista', 'Rio de Janeiro', 'Brazil')
('Customer', 'Christina Berglund', 'Luleå', 'Sweden')
('Customer', 'Eduardo Saavedra', 'Barcelona', 'Spain')
('Customer', 'Finn Egan', 'Liverpool', 'UK')
('Customer', 'Janete Limeira', 'Rio de Janeiro', 'Brazil')
('Customer', 'José Pedro Freyre', 'Sevilla', 'Spain')
('Customer', 'Per Olsen', 'Sandnes', 'Norway')
('Customer', 'Thomas Hardy', 'London', 'UK')
('Supplier', 'Anne Heikkonen', 'Lappeenranta', 'Finland')
('Supplier', 'Antonio del Valle Saavedra', 'Oviedo', 'Spain')
('Supplier', 'Beate Vileid', 'Sandvika', 'Norway')
('Supplier', 'Carlos Diaz', 'São Paulo', 'Brazil')
('Supplier', 'Chandra Leka', 'Singapore', 'Singapore')
('Supplier', 'Chantal Goulet', 'Ste-Hyacinthe', 'Canada')
('Supplier', 'Charlotte Cooper', 'Londona', 'UK')
('Supplier', 'Cheryl Saylor', 'Bend', 'USA')
('Supplier', 'Dirk Luchte', 'Zaandam', 'Netherlands')
('Supplier', 'Eliane Noz', 'Annecy', 'France')
('Supplier', 'Elio Rossi', 'Ravenna', 'Italy')
('Supplier', 'Giovanni Giudici', 'Salerno', 'Italy')
('Supplier', 'Guylène Nodier', 'Paris', 'France')
('Supplier', 'Ian Devling', 'Melbourne', 'Australia')
('Supplier', 'Jean-Guy Lauzon', 'Montréal', 'Canada')
('Supplier', 'Lars Peterson', 'Göteborg', 'Sweden')
('Supplier', 'Marie Delamare', 'Montceau', 'France')
('Supplier', 'Martin Bein', 'Frankfurt', 'Germany')
('Supplier', 'Mayumi Ohno', 'Osaka', 'Japan')
('Supplier', 'Michael Björn', 'Stockholm', 'Sweden')
('Supplier', 'Niels Petersen', 'Lyngby', 'Denmark')
('Supplier', 'Peter Wilson', 'Manchester', 'UK')
('Supplier', 'Petra Winkler', 'Berlin', 'Germany')
('Supplier', 'Regina Murphy', 'Ann Arbor', 'USA')
('Supplier', 'Robb Merchant', 'Boston', 'USA')
('Supplier', 'Shelley Burke', 'New Orleans', 'USA')
('Supplier', 'Sven Petersen', 'Cuxhaven', 'Germany')
('Supplier', 'Wendy Mackenzie', 'Sydney', 'Australia')
('Supplier', 'Yoshi Nagase', 'Tokyo', 'Japan')

In [155]:
run("""SELECT City FROM Customers
UNION ALL
SELECT City FROM Suppliers
ORDER BY City;""")

['City']
('Ann Arbor',)
('Annecy',)
('Barcelona',)
('Bend',)
('Berlin',)
('Boston',)
('Cuxhaven',)
('Frankfurt',)
('Frankfurt',)
('Göteborg',)
('Lappeenranta',)
('Liverpool',)
('London',)
('Londona',)
('Luleå',)
('Lyngby',)
('Madrid',)
('Manchester',)
('Melbourne',)
('Montceau',)
('Montréal',)
('México D.F.',)
('México D.F.',)
('New Orleans',)
('Osaka',)
('Oviedo',)
('Paris',)
('Ravenna',)
('Rio de Janeiro',)
('Rio de Janeiro',)
('Salerno',)
('Sandnes',)
('Sandvika',)
('Sevilla',)
('Singapore',)
('Stavanger',)
('Ste-Hyacinthe',)
('Stockholm',)
('Sydney',)
('São Paulo',)
('Tokyo',)
('Zaandam',)

In [156]:
run("""SELECT City, Country FROM Customers
WHERE Country='Germany'
UNION ALL
SELECT City, Country FROM Suppliers
WHERE Country='Germany'
ORDER BY City;""")

['City', 'Country']
('Berlin', 'Germany')
('Cuxhaven', 'Germany')
('Frankfurt', 'Germany')
('Frankfurt', 'Germany')

In [157]:
run("""SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country;""")

['COUNT(CustomerID)', 'Country']
(2, 'Brazil')
(1, 'Germany')
(2, 'Mexico')
(2, 'Norway')
(3, 'Spain')
(1, 'Sweden')
(2, 'UK')

In [158]:
run("""SELECT Shippers.ShipperName, COUNT(Orders.OrderID) AS NumberOfOrders FROM Orders
LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
GROUP BY ShipperName;""")

['ShipperName', 'NumberOfOrders']
('Federal Shipping', 12)
('Speedy Express', 10)
('United Package', 9)

In [161]:
run("""SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 1
ORDER BY COUNT(CustomerID) DESC;""")

['COUNT(CustomerID)', 'Country']
(3, 'Spain')
(2, 'UK')
(2, 'Norway')
(2, 'Mexico')
(2, 'Brazil')

In [167]:
run("""SELECT Employees.LastName, COUNT(Orders.OrderID) AS NumberOfOrders
FROM (Orders
INNER JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID)
GROUP BY LastName
HAVING COUNT(Orders.OrderID) > 2;""")

['LastName', 'NumberOfOrders']
('Buchanan', 3)
('Callahan', 3)
('Davolio', 3)
('Dodsworth', 3)
('Leverling', 4)
('Peacock', 9)

In [170]:
run("""SELECT SupplierName
FROM Suppliers
WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price < 20);""")

['SupplierName']
('Exotic Liquid',)
('Mayumis',)
('Pavlova, Ltd.',)

In [172]:
run("""SELECT ALL ProductName
FROM Products
WHERE TRUE;""")

['ProductName']
('Chais',)
('Chang',)
('Aniseed Syrup',)
("Chef Anton's Cajun Seasoning",)
("Chef Anton's Gumbo Mix",)
("Grandma's Boysenberry Spread",)
("Uncle Bob's Organic Dried Pears",)
('Northwoods Cranberry Sauce',)
('Mishi Kobe Niku',)
('Ikura',)
('Queso Cabrales',)
('Queso Manchego La Pastora',)
('Konbu',)
('Tofu',)
('Genen Shouyu',)
('Pavlova',)
('Alice Mutton',)

In [175]:
cur.execute("""INSERT INTO Customers (CustomerName, City, Country)
SELECT SupplierName, City, Country FROM Suppliers;""")

In [176]:
run("""SELECT OrderID, Quantity,
CASE
    WHEN Quantity > 30 THEN 'The quantity is greater than 30'
    WHEN Quantity = 30 THEN 'The quantity is 30'
    ELSE 'The quantity is under 30'
END AS QuantityText
FROM OrderDetails;""")

['OrderID', 'Quantity', 'QuantityText']
(10248, 12, 'The quantity is under 30')
(10248, 10, 'The quantity is under 30')
(10248, 5, 'The quantity is under 30')
(10249, 9, 'The quantity is under 30')
(10249, 40, 'The quantity is greater than 30')
(10255, 20, 'The quantity is under 30')
(10255, 35, 'The quantity is greater than 30')
(10258, 50, 'The quantity is greater than 30')
(10258, 65, 'The quantity is greater than 30')
(10262, 12, 'The quantity is under 30')
(10262, 15, 'The quantity is under 30')
(10263, 60, 'The quantity is greater than 30')
(10264, 35, 'The quantity is greater than 30')
(10265, 30, 'The quantity is 30')
(10266, 12, 'The quantity is under 30')
(10273, 24, 'The quantity is under 30')
(10276, 15, 'The quantity is under 30')
(10276, 10, 'The quantity is under 30')
(10279, 15, 'The quantity is under 30')

In [182]:
def SelectAllCustomers(city):
    cur.execute("select * from Customers where City = ?;", (city, ))
    return cur.fetchall()

for row in SelectAllCustomers('London'):
    print(row)

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [183]:
def SelectwithPostal(city, postal):
    cur.execute("select * from Customers where City = ? and PostalCode = ?;", (city, postal, ))
    return cur.fetchall()

for row in SelectwithPostal('London', 'WA1 1DP'):
    print(row)

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [187]:
cur.execute("select 17 % 5;")
val = cur.fetchall()
print(val)

[(2,)]